* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: "Open Sans", sans-serif;
  }

  .about-students {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(61, 63, 65);
    color: white;
    padding: 50px 200px 50px 200px;
  }

  #hide {
    display: none
  }

  #data {
    display: none;
  }

  #hide1 {
    display: none
  }

  #data1 {
    display: none;
  }

  .student {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 550px;
  }

  .student-image {
    border-radius: 20%;
  }

  .about-our-activity {
    display: flex;
    width: 50%;
    padding: 30px 30px 70px 30px;
    background-color: rgb(54, 53, 53);
    color: white;
  }

  .student-activity { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-activity-paragraphs{
    text-decoration: underline;
    font-style: italic;
  }

  

