* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: "Open Sans", sans-serif;
  }

.pictures{
    display: flex;
  }

  .picture-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }